<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Deutschy</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!-- Font -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet" />
        <!-- CSS -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V" crossorigin="anonymous" />
        <link href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="css/styles.css" />
        <!-- Favicon -->
        <link rel="icon" type="image/v" href="img/favicon.ico" />
    </head>
    <body>
        <nav class="nav">
            <span>Selection</span>
        </nav>
        

        <section>
            <div class="main-content">
                <div class="section-box">
                    <div class="column">
                        <div class="row">
                            <img src="/img/ich.png" alt="" />

                            <span class="spacer">Choose What to Study</span>
                        </div>
                    </div>
                </div>
                <div class="section-box">
                    <div class="levels-hover">
                        <div class="column">
                            <div class="row">
                                <div class="yellow circle">
                                    <div class="white circle">
                                        <div class="amber circle">
                                            <img src="/img/present.png" alt="" />
                                        </div>
                                    </div>
                                </div>
                                <span class="spacer">Present</span>
                            </div>
                            <div class="hidden-levels" id="verben-levels">
                                <div class="scrollable-row"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section-box">
                    <div class="column">
                        <div class="levels-hover">
                            <div class="row">
                                <div class="yellow circle">
                                    <div class="white circle">
                                        <div class="amber circle">
                                            <img src="img/words.png" alt="" />
                                        </div>
                                    </div>
                                </div>
                                <span class="spacer">Words</span>
                            </div>

                            <div class="hidden-levels" id="wort-levels">
                                <div class="scrollable-row"></div>
                            </div>
                        </div>
                        <div class="circle-padding"></div>
                        <div class="levels-hover">
                            <div class="row">
                                <div class="yellow circle">
                                    <div class="white circle">
                                        <div class="amber circle">
                                            <img src="img/description.png" alt="" />
                                        </div>
                                    </div>
                                </div>

                                <span class="spacer">Description</span>
                            </div>

                            <div class="hidden-levels" id="description-levels">
                                <div class="scrollable-row"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
    <script src="js/main.js"></script>
</html>
