input{
    border: none;
    appearance: none;
    outline: none;
    background-color: #EEEEEE;
    border-radius: 10px;
    padding: 7px;
    font-size: 15px;
    width: 60%;
    text-align: center;
}

input:focus::placeholder{
    color: transparent;
}
.lines{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.pronoun{
    color: black;
}
.order{
    text-align: center;
}
.box-content{
    display: flex;
    justify-content: center;

}
.column{
 margin-top: 30px;
}
.control{
    margin: auto 0;
    font-size: 20px;
}
.solve-box{
    border-radius: 50px;
    background-color: #F8ECD1;
    padding: 35px 60px;
    width: 30%;
    margin: 30px 30px 50px 30px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-around
;}
.title{
    font-size: 25px;
    text-align: center;
    
}
#verb{
    color:#00ff00;
    font-weight: 600;
}
.progress-bar{
    position: relative;
    width: 50%;
    height: 20px;
    background-color: #EEEEEE;
    border-radius: 10px;
    overflow: hidden;
    margin: 0px auto 0 auto;
    /* outline: 1px solid white; */
}
.fill{
    width: 30%;
    height: 100%;
    background-color: #00ff00;
}
.times{
    color: black;
    font-weight: 700;
    font-size: 13px;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}